<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="EgypciNet.My.MySettings.Memphis___EgypciConnectionString"
      connectionString="Data Source=charly\sqlserver2005;Initial Catalog=&quot;Memphis - Egypci&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Abidos.My.MySettings.AbidosConnectionString5" connectionString="Data Source=home\sqlexpress;Initial Catalog=Abidos;Persist Security Info=True;User ID=carles;Password=Carles123"
      providerName="System.Data.SqlClient" />
    <add name="Abidos.My.MySettings.AbidosConnectionString" connectionString="Data Source=home\sqlexpress;Initial Catalog=Abidos;Persist Security Info=True;User ID=carles"
      providerName="System.Data.SqlClient" />
    <add name="AbidosCalendariOperaris" connectionString="metadata=res://*/Formularis.Model1.csdl|res://*/Formularis.Model1.ssdl|res://*/Formularis.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=home\sqlexpress;initial catalog=Abidos;persist security info=True;user id=carles;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Abidos.My.MySettings.AbidosConnectionString1" connectionString="Data Source=HOME\SQLExpress;Initial Catalog=Abidos;Persist Security Info=True;User ID=carles;Password=Carles123"
      providerName="System.Data.SqlClient" />
    <add name="Abidos.My.MySettings.AbidosConnectionString2" connectionString="Data Source=10.7.7.180;Initial Catalog=Abidos;Persist Security Info=True;User ID=sa;Password=Abidos2014"
      providerName="System.Data.SqlClient" />
    <add name="Abidos.My.MySettings.AbidosMestreConnectionString"
      connectionString="Data Source=home\sqlexpress;Initial Catalog=AbidosMestre;Persist Security Info=True;User ID=sa;Password=Carles123"
      providerName="System.Data.SqlClient" />
    <add name="Abidos.My.MySettings.AbidosDomingoConnectionString"
      connectionString="Data Source=Home\SQLExpress;Initial Catalog=AbidosDomingo;User ID=carles;Password=Carles123"
      providerName="System.Data.SqlClient" />
    <add name="Abidos.My.MySettings.AbidosDomingoConnectionString1"
      connectionString="Data Source=home\sqlexpress;Initial Catalog=AbidosDomingo;Persist Security Info=True;User ID=carles;Password=Carles123"
      providerName="System.Data.SqlClient" />
    <add name="Abidos.My.MySettings.AbidosDomingoConnectionString2"
      connectionString="Data Source=SERVER2012R2\SQLSERVER2012;Initial Catalog=AbidosDomingo;User ID=Carles;Password=Carles123"
      providerName="System.Data.SqlClient" />
    <add name="Abidos.My.MySettings.AbidosDomingoConnectionString3"
      connectionString="Data Source=SERVER2012R2\SQLSERVER2012;Initial Catalog=AbidosDomingo;Persist Security Info=True;User ID=Carles;Password=Carles123"
      providerName="System.Data.SqlClient" />
    <add name="AbidosDomingoConnectionString2" connectionString="XpoProvider=MSSqlServer;Data Source=SERVER2012R2\SQLSERVER2012;Initial Catalog=AbidosDomingo;User ID=Carles;Password=Carles123" />
    <add name="Abidos.My.MySettings.AbidosDomingoConnectionString4"
      connectionString="Data Source=192.168.1.225;Initial Catalog=AbidosDomingo;User ID=carles;Password=Carles123"
      providerName="System.Data.SqlClient" />
    <add name="Abidos.My.MySettings.AbidosDomingoRealConnectionString"
      connectionString="Data Source=192.168.1.225;Initial Catalog=AbidosDomingoReal;Persist Security Info=True;User ID=carles;Password=Carles123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
